.loader {
    position: relative;
    width:  48px;
    height: 48px;
    margin-left: 10%;
    background: var(--loader-bg, #FF3D00);;
    transform: rotateX(65deg) rotate(45deg);
    // remove bellows command for perspective change
    //transform: perspective(200px) rotateX(65deg) rotate(45deg); 
    color: #fff;
    animation: layers1 1s linear infinite alternate;
  }
  .loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    animation: layerTr 1s linear infinite alternate;
  }

  @keyframes layers1 {
    0% { box-shadow: 0px 0px 0 0px  }
   90% , 100% { box-shadow: 20px 20px 0 -4px  }
  }
  @keyframes layerTr {
    0% { transform:  translate(0, 0) scale(1) }
    100% {  transform: translate(-25px, -25px) scale(1) }
  }
      


.spinner-overlay {
  position: fixed; /* or 'absolute' depending on need */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(115 110 110 / 50%);
  z-index: 1000; /* high enough to overlay everything else */
  display: flex;
  justify-content: center;
  align-items: center;
}

.testspinner i {
  color: #007bff; /* spinner color */
}