.loader {
    border-top-color: transparent;
  }


  
::ng-deep .p-toast {
  top: 5% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 300px;
  z-index: 9999;
}

::ng-deep .p-toast .p-toast-message {
  margin: auto;
  text-align: center;
}
